.filter-navbar {
	position: fixed;
	bottom: 3vh;

	width: 140px;
	--width: 140px;
	--leftA: calc(var(--width) / 2);
	left: calc(50vw - var(--leftA));
	height: 40px;
	border-radius: 20px;
	background-color: rgba(165, 158, 158, 0.898);
	border: rgb(77, 74, 74) solid 2px;

	align-items: center;

	display: flex;
	justify-content: space-around;
	z-index: 1;
}
.filter-navbar::after {
	content: "";
	display: block;
	right: 48%;
	top: 0%;
	position: absolute;
	width: 70px;

	height: 35px;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	transition: all 0.3s ease;
}
.filter-navbar--hide {
	opacity: 0;
}

.filter-navbar--on.filter-navbar::after {
	right: 0%;
	transition: all 0.3s ease;
}

.filter-navbar_tag {
	padding: 10px;
	border-radius: 20px;
	margin-block: 0;
	z-index: 1;
	cursor: pointer;
}
