/*----------------Main Grid*/
.main-grid {
    display: grid;
    min-width: 100vw;
    grid-template-rows: repeat(5, 50vh) 5vh repeat(2, 50vh);
    align-self: flex-end;
    grid-template-columns: 100vw;
    grid-template-areas: 'sec-1''sec-1''sec-2''sec-3''sec-3''sec-3''sec-4''sec-4';
  }
  @media screen and (max-width:1025px) and (min-width:770px){
    .main-grid {
      grid-template-rows: 100vh  minmax(50vh,auto) minmax(57vh,max-content) minmax(115vh,max-content);

      grid-template-areas: 'sec-1''sec-2''sec-3''sec-4';
    }
  }
  @media screen and (max-width:770px) and (min-width:480px) {
    .main-grid {
      grid-template-rows: 100vh  minmax(100vh,auto) minmax(60vh,auto) minmax(115vh,max-content);

      grid-template-areas: 'sec-1''sec-2''sec-3''sec-4';
    }
  }
  @media screen and (max-width:480px) {
    .main-grid {
      grid-template-rows: 100vh  minmax(130vh,auto) minmax(57vh,max-content) minmax(115vh,max-content);

      grid-template-areas: 'sec-1''sec-2''sec-3''sec-4';
    }
  }
  
  /*----------------------------------  section 1 -header ---------------*/
  .sec-1 {
    grid-area: sec-1;
    /* background-color: burlywood; */
    align-items: center;
  }
  
  .head-img {
    /* background-color: rgb(181, 236, 181); */
    position: relative;
    width: 72%;
    height: 100vh;
    object-fit: cover;
    left: 0%;
    opacity: 1;
    animation-name: coverImg;
    animation-duration: 1s;
  }
  
  .head-intro {
   /*  border: red solid 1px; */
    width: 28%;
    height: 50vh;
    padding: 5vh 5vw 0 2.5vw;
  }
  
  .head-preHeader {
    position: relative;
    /* border: rgb(0, 0, 255) solid 1px; */
    letter-spacing: 1px;
    margin-bottom: -5px;
    bottom: 0%;
    animation-name: headers;
    animation-duration: 1.2s;
  }

  .head-header{
    position: relative;
    /* border: rgb(0, 0, 255) solid 1px; */
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 2.2rem;
    animation-name: headers;
    animation-duration: 1.5s;
  }
  
  .head-details {
    position: relative;
    /* border: rgb(0, 0, 255) solid 1px; */
    color: rgb(70, 70, 70);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3rem;
    animation-name: headers;
    animation-duration: 1.8s;
  }
  
  @keyframes coverImg {
      from{opacity:0;left: -5%;}
      to{left: 0%;opacity:1;}
  }
  @keyframes headers {
    from{opacity:0;bottom: -15%;}
    50%{opacity:0;bottom: -5%;}
    to{bottom: 0%;opacity:1;}
  }

.notDisplayed{
    display: none;
}
/*********************** Sec 1 responsive **********************/

@media screen and (max-width:1025px) and (min-width:770px) {
          .sec-1{
            position: relative;
          }
          .head-img {
            position: absolute;
            width: 100vw;
            max-width: 1025px;
          }
          .head-intro {
           /*  border: red solid 1px; */
            font-size: larger;
            color: rgba(253, 248, 252, 0.859);
            width: 35vw;
            left: 1vw;
            position: absolute;
            height: auto;
            bottom: 2vh;
            padding: 1vh 2.5vh ;
          }
          .head-details {
            color: rgba(255, 255, 255, 0.723);
          }
}
@media screen and (max-width:770px) and (min-width:480px) {
          .sec-1{
            position: relative;
          }
          .head-img {
            position: absolute;
            width: 100%;
            max-width: 770px;
          }
          .head-intro {
            /*  border: red solid 1px; */
             color: rgba(253, 248, 252, 0.859);
             left: 1vw;
             position: absolute;
             width: 60vw;
             height: auto;
             bottom: 2vh;
             padding: 1vh 2.5vh ;
           /*  background-color: red; */
          }
          .head-preHeader {
            letter-spacing: 1.2px;
           font-size: 18px;
          }
          .head-details {
            display: none;
          }
}
@media screen and (max-width:480px) {
          .sec-1{
            position: relative;
          }
          .head-img {
            position: absolute;
            width: 100%;
            max-width: 480px;
          }
          .head-intro {
            color: rgba(224, 217, 224, 0.859);
             left: 1vw;
             position: absolute;
            width: 80vw;
            height: auto;
             bottom: 0vh;
             padding: 1vh 2.5vh ;
            /* background-color: blue; */
          }
          .head-preHeader {
            letter-spacing: 1.2px;
           font-size: 18px;
          }
          .head-details {
            display: none;
          }
}

  
  /*----------------------------------  section 2 -INFO ---------------*/
  .sec-2 {
    grid-area: sec-2;
    position: relative;
   /*  background-color: cadetblue; */
    display: flex;
    flex-direction: row;
    padding: 11vh 6vh 5vh 6vh;
    justify-content: space-around;
    animation-name: sect2;
    animation-duration: 2s;
  }
  
  .sec-2_unit {
    width: 30vw;
    height: 100%;
    min-height: 40%;
    display: flex;
    flex-direction: row;
     /* border: crimson 2px solid; */
    align-items: center;
  }
  
  .sec-2_img {
    width: 43%;
    height: 100%;
    /* flex-shrink: 2; */
  }
  
  .sec-2_img--det {
    /* background-color: rgb(176, 235, 145); */
    padding: 0 1vw 0 2vw;
  }

  .sec-2_img--det-header{
    margin-block-start:0;
    margin-block-end:0;
    font-size: 16px;
    font-weight: 600;
  }
  .sec-2_img--det-details{
    color: rgb(35, 33, 33);
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.3rem;
  }
  
  .sec-2_img--det-link{
    color: rgb(35, 33, 33);
    font-size: 14px;
  }

  @keyframes sect2{
    from{opacity:0;bottom: -10%;}
    40%{opacity:1;}
    to{bottom: 0%;opacity:1;}
  }
  /*********************** Sec 2 responsive **********************/

@media screen and (max-width:1025px) and (min-width:770px) {
  .sec-2 {
    padding: 5vh 2vh 5vh 2vh;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    /* background-color: rgb(104, 160, 95); */
  }
  .sec-2_unit {
    flex-direction: column;
    width: 31vw;
    height: auto;
   /*  border: crimson 2px solid; */
  }
  .sec-2_img {
     /* border: rgb(37, 20, 220) 2px solid; */
     width: 100%;
     height: auto;
   }
   .sec-2_img--det {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    /* background-color: rgb(176, 235, 145); */
    padding: 10px 0 0 0 ;
  }
  .sec-2_img--det-header{
    margin-block-start:15px;
    font-size: 14px;
  }
  .sec-2_img--det-details{
    font-size: 13px;
    /* background-color: aqua; */
  }
  .sec-2_img--det-link-Wrapper{ 
/* background-color: red; */
  }
  .sec-2_img--det-link{
    margin-block-start:0;
    font-size: 13px;
    border-bottom: grey 1px solid;
    display: inline-block;
  }
}
@media screen and (max-width:770px) and (min-width:480px) {
  .sec-2 {
    padding: 5vh 2vh 5vh 2vh;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    justify-content: space-between;
   /*  background-color: rgb(160, 95, 134); */
  }
  .sec-2_unit {
    flex-direction: column;
    width: 47vw;
    height: auto;
    /* border: crimson 2px solid; */
  }
  .sec-2_img {
   /*  border: rgb(37, 20, 220) 2px solid; */
    width: 100%;
    max-height: 70vh;
  }
  .sec-2_img--det {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    max-height: 30vh;
    /* background-color: rgb(176, 235, 145); */
    padding: 10px 0 0 5px ;
  }
  .sec-2_img--det-header{
    font-size: 14px;
  }
  .sec-2_img--det-details{
    font-size: 13px;
    margin-block-start:5px;
    margin-block-end:0;
    line-height: 1rem;
  }
  .sec-2_img--det-link{
    display: inline-block;
    margin-block-start:5px;
    margin-block-end:0;
    border-bottom: 1px solid gray;
  }

  .sec-2_unit:first-child {
    width: 97vw;
    margin-bottom: 3vh;
    flex-shrink: 2;
    height: auto;
  }
  .sec-2_unit:first-child .sec-2_img {
    width: 100%;
     max-height: 90vh;
   }
  .sec-2_unit:first-child .sec-2_img--det {
    height: auto;
  }
}
@media screen and (max-width:480px) {
  .sec-2 {
    padding: 5vh 2vh 5vh 2vh;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: space-between;
    /* background-color: cadetblue; */
  }
  
  .sec-2_unit {
    flex-direction: column;
    width: 45vw;
    height: auto;
   /*  border: crimson 2px solid; */
  }
  .sec-2_img {
   /*  border: rgb(37, 20, 220) 2px solid; */
    width: 100%;
    height: auto;
    max-height:50vh ;
  }
  .sec-2_img--det {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
 /*    background-color: rgb(176, 235, 145); */
    padding: 15px 0 0 5px ;
  }
  .sec-2_img--det-header{
    font-size: 13px;
  }
  .sec-2_img--det-details{
    font-size: 11.5px;
    margin-block-start:5px;
    margin-block-end:0;
    line-height: 1rem;
    height: 1.5rem;
  }
  .sec-2_img--det-link{
    display: inline-block;
    font-size: 12px;
    margin-block-start:15px;
    margin-block-end:0;
    border-bottom: 1px solid gray;
  }
  .sec-2_unit:first-child {
    width: 97vw;
    height: auto;
    margin-bottom: 1vh;
  }
  .sec-2_unit:first-child .sec-2_img {
     height: auto;
     max-height: 60%;
   }
  .sec-2_unit:first-child .sec-2_img--det {
    height: auto;
  }
  .sec-2_unit:first-child .sec-2_img--det-details{
    height:auto;
  }
  .sec-2_unit:first-child .sec-2_img--det-link{

    margin-block-start:5px;
  }
}

/*------------------------------  section 3 -featured Products ---------------*/
  .sec-3 {
    position: relative;
    grid-area: sec-3;
    /* background-color: burlywood; */
    padding: 5vh 10px;
    animation-name: sect3;
    animation-duration: 2s;
    overflow: hidden;
    width: 100%;
  }
  /* Header */
  .sec-3_header{
    /* background-color: burlywood; */
    position: relative;
    width: 93vw;
    margin: 3vh 10px 1.25vh 2.5vw;
  }
  .sec-3_header--title{
    font-weight: lighter;
  }
  
   /* Header arrows */
  .arrow-wrap-right--header {
    left: 89.5vw !important;
    opacity: 1 !important;
  }
  
  .arrow-wrap-left--header{
    left: 86vw !important;
    opacity: 1 !important;
  }

  /*faded arrows*/
  .arrow-wrap-left--header.arrow-faded,.arrow-wrap-right--header.arrow-faded{
    background-color: rgba(0, 0, 0, 0.07);
    cursor: default;
    opacity: 0.8 !important;
  }
  .arrow-faded .arrow-wrap__icon , .arrow-wrap__icon:hover {
    color: rgba(20, 19, 19, 0.479)!important;
    transition:none !important;
  }
  .arrow-faded .arrow-wrap__icon:after{
   display: none;
  }

 /*Featured products*/
  .productDisplay__featured {
 /* background-color: aquamarine; */
    position: relative;
    width: 200vw;
  }

  /******** Responsiveness *****/
  @media screen and (max-width:1025px) and (min-width:770px) {

  }
  @media screen and (max-width:770px) and (min-width:480px){
    .sec-3 {
      padding: 2.5vh 10px;
      /* background-color: rgb(141, 222, 135); */
    }
    .sec-3_header{
      /* background-color: burlywood; */
      margin: 0 10px 1.25vh 2.5vw;
      max-width: 900px;
      width: 93vw;
      min-width: 770px;
    }
    .sec-3_header--title{
      font-weight: lighter;
      font-size: 20px;
    }
  }
  @media screen and (max-width:480px) {

  }
  
  /*---------------------------------------section 4 */
  .sec-4 {
      position: relative;
    grid-area: sec-4;
   /*  background-color: cadetblue; */
    justify-content: space-between;
    padding: 15vh 2vw;
    display: flex;
    flex-direction: row;
    animation-name: sect3;
    animation-duration: 2s;
    margin: 0 1vw;
  }
  
  
  .sec-4-unit {
    width: 45vw;
    height: 75vh;
    /* border: crimson 2px solid; */
  }
  
  .sec-4-unit img {
    height: 55vh;
  } 

  .sec-4-img-det {
    margin-top: 12px;
    line-height: 10px;
  }

  @keyframes sect3{
    from{opacity:0;bottom: -15%;}
    to{opacity:1;bottom: 0%;}
  }

  /**** responsive section 4*****/
  @media screen and (max-width:920px) {
    .sec-4 {
         /* background-color: cadetblue; */
    flex-direction: column;
    margin: 0 ;
    padding: 5vh 1vw;
    align-items: center;
    justify-content:space-evenly;
  }
  .sec-4-unit {
    width: 90%;
    height: auto;
    /* border: crimson 2px solid; */
  }
  .sec-4-unit img {
    height: 80%;
  }
  
  .sec-4-img-det {
    margin-top: 6px;
    line-height: 10px;
  }
  }
  