/***   Overlay    ***/

.active_overlay {
	top: 0;
	left: 0;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(114, 100, 100, 0.788);
	visibility: visible;
	opacity: 1;
	transition: opacity 300ms ease-in-out;
	cursor: url(/public/icons8-cancel-35.png), auto;
}

.active_overlay.hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
	cursor: pointer;
}
.active_overlay--mainNav {
	z-index: 4;
}
.active_overlay--filterNav {
	z-index: 6;
}

/*Generic black button with horizontal line*/
.black-btn-hr {
	width: 40%;
	height: 100%;
	background-color: black;
	color: white;
	border: none;
	position: relative;
	cursor: pointer;
}

.black-btn-hr:before {
	content: "";
	position: absolute;
	top: -50%;
	right: 0;
	width: 250%;
	height: 1px;
	background-color: rgb(226, 192, 192);
}
