/*Revised and matched on 17 MAY 2022*/

/*****************************************       prodBlock_wrapper  ********************************/
.prodBlock {
	position: relative;
	overflow: hidden;
}

/*The smallish cards  --Shop/Category page*/
.prodBlock_wrapper--medium {
	/* background-color: rgba(161, 194, 211, 0.723) ; */
	border-radius: 5px;
	min-width: 205px;
	max-width: 21vw;
	margin: 5vh 1vw;
	height: auto;
}

/*The larger cards   --Shop/Category page*/
.prodBlock_wrapper--Big {
	/*  border: rgba(0, 128, 0, 0.112) 2px solid; */
	width: 30vw;
	height: auto;
	margin: 5vh 1vw;
}
@media screen and (max-width: 1025px) /* and (min-width: 480px) */ {
	.prodBlock_wrapper--medium {
		/* background-color: rgba(65, 161, 91, 0.761); */
		max-width: 500px;
		width: 44vw;
		min-width: 125px;
		margin: 1vh 1vw 5vh 1vw;
		height: auto;
		justify-content: space-between;
	}
	.prodBlock_wrapper--Big {
		/*  border: rgba(8, 14, 8, 0.874) 2px solid; */
		max-width: 900px;
		width: 90vw;
		min-width: 250px;
		margin: 5vh 1vw;
		max-height: 125vh;
		height: auto;
		justify-content: space-between;
	}
	.prodBlock__anchor-img--taller {
		/* border: rgb(242, 21, 21) 1px solid; */
		width: 100%;
		height: auto;
		/* min-height: 40vh;
              max-height: 80vh; */
		overflow: hidden;
	}
	.prodBlock__img {
		/* border: rgb(108, 35, 226) 2px dashed; */
		width: 100%;
		height: 40%;
	}
	.prodBlock__description {
		margin-top: 10px;
		width: 100%;
		height: auto;
		min-height: 4vh;
		/*  border: yellow 1px dashed; */
	}
	/*   .prodBlock_wrapper--medium .prodBlock__description--brand{
              font-size: 12px;
            }   
            .prodBlock_wrapper--medium .prodBlock__description--price{
              margin-right: 10px;
            } */
}
@media screen and (max-width: 770px) and (min-width: 480px) {
	.prodBlock_wrapper--medium .prodBlock__description--green {
		font-size: 12.5px;
		height: 2rem;
		width: 100%;
		font-weight: 100;
	}
	.prodBlock_wrapper--medium .prodBlock__description--brand {
		font-size: 12px;
	}
	.prodBlock_wrapper--medium .prodBlock__description--price {
		margin-right: 11px;
	}
}
@media screen and (max-width: 480px) {
	.prodBlock_wrapper--medium .prodBlock__description {
		padding: 0 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		font-weight: 100;
	}
	.prodBlock_wrapper--medium .prodBlock__description--green {
		font-size: 11.5px;
		letter-spacing: 1.2px;
		line-height: 1.1rem;
		height: 2rem;
		width: 100%;
	}
	.prodBlock_wrapper--medium .prodBlock__description--brand {
		font-size: 11px;
	}
	.prodBlock_wrapper--medium .prodBlock__description--price {
		margin-right: 10px;
	}
}
/***  featured  **/
.prodBlock__featured--wrapper {
	/*  border: rgba(20, 19, 19, 0.963) 3px solid; */
	width: 28vw;
	min-width: 400px;
	height: 80vh;
	margin: 0 0 0 2.5vw;
}
.prod-hidden {
	display: none;
}
.prod-hide,
.prod-active,
.prod-active1,
.prod-active2,
.prod-active3 {
	left: 0vw;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.prod-hide {
	animation-name: featuredHide;
}
.prod-active {
	animation-name: featuredActive;
}
.prod-active1 {
	animation-name: featuredActive1;
}
.prod-active2 {
	animation-name: featuredActive2;
}
.prod-active3 {
	animation-name: featuredActive3;
}
.prodBlock__featured--wrapper.minus {
	animation-direction: reverse;
}
@keyframes featuredHide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-30.5vw);
	}
}
@keyframes featuredActive {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-30.5vw);
	}
}
@keyframes featuredActive1 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-30.5vw);
	}
}
@keyframes featuredActive2 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-30.5vw);
	}
}
@keyframes featuredActive3 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-30.5vw);
	}
}

/** onHover **/

.prodBlock:hover .arrow-wrap {
	opacity: 0.4;
	transition: opacity 0.5s ease-in;
}
.prodBlock:hover .arrow-wrap-right {
	transform: translateX(-7%);
	transition: transform 0.5s ease-in-out;
}
.prodBlock:hover .arrow-wrap-left {
	transform: translateX(7%);
	transition: transform 0.5s ease-in-out;
}
.prodBlock:hover .arrow-wrap:hover {
	opacity: 1;
}

/****************************************         Product Image *************************/

/*------  wrapper ------*/
/*Shop-Category page*/
.prodBlock__anchor-img--taller {
	/* border: rgb(0, 4, 255) 1px solid; */
	width: 100%;
	height: auto;
	min-height: 70%;
}
/*Featured*/
.prodBlock__featured--imgContainer {
	/* border: rgb(128, 0, 73) 2px solid; */
	width: 100%;
	min-height: 75%;
	height: 80%;
}

/*--------  The Image ------*/

.prodBlock__img {
	/* border: rgb(128, 41, 0) 2px dashed; */
	width: 100%;
	height: auto;
}
.prodBlock__img--DELETE-LATER {
	/*  border: green 1px solid; */
	width: 100%;
	height: 100%;
}
.prodBlock__featured--img {
	/*border: rgb(16, 202, 215) 1px dashed; */
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1025px) and (min-width: 770px) {
}
@media screen and (max-width: 770px) and (min-width: 480px) {
}
@media screen and (max-width: 480px) {
}

/***      Arrow Icons          ***/
/**/
/**/
/**.prodBlock__icons == first wrapper 
/** arrow-wrap == second wrapper 
/** arrow-wrap__icon == The icon
/**/
/*Arrow positioning for smallish ... */
.prodBlock__icons--hide {
	display: none;
}
.prodBlock_wrapper--medium .prodBlock__icons {
	position: relative;
	bottom: 26vh;
}
/*.... and BIG productCard* */
.prodBlock_wrapper--Big .prodBlock__icons {
	position: relative;
	bottom: 35vh;
}
/*.... and featured productCard* */
.prodBlock__featured--wrapper .prodBlock__icons {
	position: relative;
	bottom: 35vh;
}
/*Positioning applied to both*/
.arrow-wrap-right {
	left: 85%;
}

.arrow-wrap-left {
	right: 85%;
}
.prodBlock_wrapper--Big .arrow-wrap-right,
.prodBlock__featured--wrapper .arrow-wrap-right {
	left: 88%;
}
.prodBlock_wrapper--Big .arrow-wrap-left,
.prodBlock__featured--wrapper .arrow-wrap-left {
	right: 88%;
}
/*ArroW Icon general look and animation */
.arrow-wrap {
	background-color: white;
	opacity: 0;
	transition: opacity 0.5s ease-out;
}
.prodBlock__featured--wrapper .prodBlock__icons {
	position: relative;
	bottom: 35vh;
}

/****************************************         Product Description  *************************/
.prodBlock__description {
	margin-top: 10px;
}
/***/

.prodBlock__description--green {
	color: rgb(45, 170, 101);
	font-weight: 600;
	margin-block-start: 10px;
	inline-size: 95%;
}
.prodBlock__description--brand,
.prodBlock__description--price {
	margin-block-start: 10px;
	margin-block-end: 10px;
}
/*****************************************       ADMIN commands  ********************************/
.prodBlock__adminCommand {
	/* background-color:rgba(39, 5, 5, 0.377) ; */
	display: flex;
	flex-direction: row;
	margin-top: -2vh;
	width: 14vw;
	align-self: end;
	height: 5vh;
	justify-content: space-between;
}
/***/

.prodBlock__adminCommand button {
	background-color: rgb(253, 252, 248);
	width: 6vw;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.prodBlock__adminCommand--delete {
	color: rgba(240, 10, 10, 0.547);
	border: 1px solid rgba(240, 10, 10, 0.547);
}
.prodBlock__adminCommand--edit {
	color: rgba(60, 60, 240, 0.742);
	border: 1px solid rgba(60, 60, 240, 0.742);
}

/*****************************************       USER  commands  ********************************/

.prodBlock_userCommand {
	position: absolute;
	/*  background-color: aqua; */
	opacity: 0;
	display: flex;
	width: 20%;
	height: 8%;
	right: 0;
	top: 0;
	justify-content: flex-end;
}
.prodBlock_userCommand .favourites {
	transform: translateY(-30%);
	border: 0;
	padding-top: 0;
	background-color: transparent;
}
.prodBlock_userCommand img {
	margin-top: -6px;
}
.prodBlock:hover .prodBlock_userCommand {
	opacity: 0.8;
	transition: opacity 0.5s ease;
}
.prodBlock:hover .prodBlock_userCommand .favourites {
	transform: translateY(-10%);
	transition: transform 0.6s ease;
}
.prodBlock:hover .prodBlock_userCommand .favourites:hover {
	transform: translateY(-2%);
	cursor: pointer;
	transition: transform 0.6s ease;
	opacity: 1;
}

/**********************************************************************************/
/*Thumbnail sized view  ---No YEt utilized seriously */
/**/
/**/
.prodBlock--shop__Small {
	/* border: yellow 2px solid; */
	width: 10vw;
	height: 10vh;
	margin: 3vh 0;
}
.prodBlock--shop__Small .prodBlock__description {
	font-size: 12px;
	margin-top: 10px;
	line-height: 2px;
}
.prodBlock--shop__Small .prodBlock__description .green {
	font-size: 12px;
	color: #2daa65;
	font-weight: 400;
	height: max-content;
}
.prodBlock__icons--small {
	bottom: 33vh;
}

/*************   Responsiveness ********/

@media screen and (max-width: 900px) {
	/***  featured  **/
	.prodBlock__featured--wrapper {
		/* border: rgba(20, 19, 19, 0.963) 3px solid; */
		width: 75vw;
		min-width: 220px;
		height: 84%;
		margin: 0 0 0 2.5vw;
	}
	.prodBlock__description--green {
		color: rgb(45, 170, 101);
		margin-block-start: 5px;
		margin-block-end: 5px;
		font-weight: 600;
	}
	.prodBlock__description--brand,
	.prodBlock__description--price {
		margin-block-start: 5px;
		margin-block-end: 5px;
	}
}
