.main-grid--collection {
    display: grid;
    position: relative;
    min-width: 100vw;
    margin-top: 18vh;
    grid-template-rows: 100%;
    grid-template-columns: 65% 35%;
    grid-template-areas: 'scrollcontent fixedbar';
    /* border: 3px blue solid;  */
   margin-bottom: 10vh;
}

.main-grid--collection--prod {
    margin-top: 0;
    /* background-color: rgb(228, 153, 83); */
}
.main-grid--collection ul {
    padding-inline-start: 0;
}

/****************** Image display ***************/
.product-content{
    grid-area: scrollcontent;
   /*  background-color: rgb(46, 165, 42); */
}

.product-content__anchor-img {
   /*  border: yellow 2px solid; */
   position: relative;
    height: 70vh;
    width: 49%;
    margin: 0 5px 5px 0;
    transition: all 0.8s ease-out;
}

.product-content__img {
    /* border: rgb(0, 255, 0) 2px solid; */
    height: 100%;
    width: 100%;
    z-index: 80;
}

/******************* Product details *******************/
.filter {
    padding: 0vh 5.5vw 2.5vw 5vw;
    background-color: rgb(255, 255, 255);
    height: max-content;
}
.filter.product-detail {
    padding: 10vh 5.5vw 2.5vw 5vw;
}

.filter p{
    font-size:16px;
}
.filter h4{
    margin-block-start: 0;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d7d0d0;
    /* background-color: rgb(153, 156, 153); */
    color: rgb(14, 13, 13);
    padding: 10px;
    font-size: 16px;
    text-align: left;
    /* border: #b8c2bee5 1.5px solid; */
    height: 5vh;
    margin: 1vh 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.dropdown>p{
    position: absolute;
    top: 0;
    margin-block-start: 10px;
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d7d0d0;
    min-width:100%;
   /*  height: 10px; */
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.15s ease-out;

}
/* Show the dropdown menu on hover */
.dropdown-content.active {
    background-color: rgb(255, 255, 255);
    border: 1px solid #d7d0d0;
    z-index: 1;
    height: max-content;
    max-height: 20vh;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.15s ease-in-out;
}
/* Links inside the dropdown */ 
.dropDown-item{
   /* background-color: yellow; */
    color: black;
    text-decoration: none;
    display: block;
}
.dropDown-item>p{
   /*  background-color: rgb(0, 225, 255); */
    padding: 10px 8px;
    font-size: 13px;
    margin-block-start: 0;
    margin-block-end: 0;
}
/* Change color of dropdown links on hover */
.dropDown-item :hover {
    background-color: rgb(189, 186, 186);
}

.black-btn{
    background-color: black;
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    color: white;
    border: none;
    cursor: pointer;
}
.size-guide{
    margin-top: 10px;
}

.check-list{
    margin-top: 3vh;
    list-style-image: url(/public/check-mark-black-outline.png);
  font-size: 14px;
  margin-left: 1.5vw;
}
.check-list li{
    /* color:green; */
    margin: 8px 0;   
}

/*******************       even-container      **************/

.even-container{
    display: flex;
    flex-direction: row;     
    justify-content: space-between;
    width: 100vw;
    height: auto;
    padding: 5vh 10vw 5vh 4vw;
    margin: 10vh 0 15vh 0;
    /* border: 3px blue solid;  */
}
.even-container h3{
    margin-block-end: 3rem;
}
.prod-description{
    /* border: 3px blue solid;  */
    padding: 0 5vw 0 0;
    line-height: 1.8rem;
}
.prod-description_list{
    list-style:circle;
    margin-left: 1vw;
}
.prod-information{
    /* border: 3px rgb(255, 111, 0) solid;  */
    padding: 0 5vw 0 5vw;
   line-height: 1.7rem;
}
.prod-information h4{
    margin-block-end: 5px;
}
.prod-information p{
    /* color: rgb(0, 255, 68); */
    margin-block-start: 5px;
}
/* .even-container{
    display: grid;
    position: relative;
    min-width: 100vw;
    padding: 5vh 10vw 5vh 4vw;
    margin: 10vh 0 15vh 0;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'scrollcontent fixedbar';
    /* border: 3px blue solid;  
}
.even-container h3{
    margin-block-end: 3rem;
}
.prod-description{
    border: 3px blue solid; 
padding: 0 5vw 0 0;
line-height: 1.8rem;
}
.prod-description_list{
    list-style:circle;
    margin-left: 1vw;
}
.prod-information{
    border: 3px blue solid; 
   padding: 0 5vw 0 5vw;
   line-height: 1.7rem;
}
.prod-information h4{
    margin-block-end: 5px;
}
.prod-information p{
    color: rgb(0, 255, 68);
    margin-block-start: 5px;
}
 */
/*******************       Product navigation   ***********/
.product-nav{
    /* background-color: palegreen; */
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    top:88vh;
    height: 10vh;
    width: 96vw;
    left:2vw;
}

.product-nav-both{
    background-color: rgb(255, 255, 255);
    margin-block-start:0;
    margin-block-end:0;
    position: relative;
}

.product-nav-1{}


/***  Part -2  NAV  **/
.product-nav-2{
    height: 10vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.product-nav-2 > *{
    margin-right:10px ;
}

.dropdown.nav{
   display: flex;
   flex-direction: column;
   align-content: flex-start;
width:12vw;
}

.dropdown-content--nav{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d7d0d0;
    width: 100%;
    height: max-content;
    max-height: 20vh;
    bottom: 35px;
    transform: scaleY(0); 
    transform-origin: bottom;  
    transition:all 0.25s ease,;
}
.dropdown-content--nav.active{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d7d0d0;
    transform: scaleY(1); 
}

.dropdown-content--nav.active>a{
    display: block;
    padding: 10px;
}
.black-btn.nav{
    width: 20vw;
}

/******* Responsiveness *************/
@media screen and (max-width:1025px) and (min-width:770px){
    .main-grid--collection {
        margin-top: 0;
        grid-template-rows: minmax(70vh,auto) minmax(50vh,auto);
        grid-template-columns: 100%;
        grid-template-areas: 'scrollcontent' 'fixedbar';
       margin-bottom: 5vh;
    }
    .product-content{
        min-height: 100vh;
        height: max-content;
        justify-content: space-between;
        /* background-color: rgb(165, 42, 104); */
    }
    .product-content__anchor-img {
       
        min-height: 70vh;
        height: auto;
        max-height: 100vh;
        width: 49.5%;
        margin: 0  1px 6px 0;
    }
    .filter {
        padding: 0;
        height: auto;   
    }
    .filter.product-detail {
        padding: 6vh 3vw 1.5vw 3.5vw;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        min-height: 60vh;
        max-height: 85vh;
        height: auto;
    }
    .product-info{
        width: 45vw;
        padding: 0 1vw 0 2vw;
    }
    .product-info p{
        font-size:15px;
        line-height: 1.5rem;
        letter-spacing: 0.02rem;
    }
    .check-list li{
        font-size:14px;
        line-height: 1.5rem;
        letter-spacing: 0.02rem; 
    }
    .dropdown {
        padding: 23px;
        height: 0;
        margin: 1vh 0;
    }
    .dropdown>p{
        font-size: 14px;
        margin-block-start: 13px;
    }
    .dropdown-content {
        top: 47px;
    }
    .dropdown-content.active {
    }
    .black-btn{
        padding: 20px;
    }
    .check-list{
        margin: 5vh 1.5vw 3vh 2.5vw ;
    }
    .productDet-Special-Image{
        width: 100vw;
        height: auto; 
        justify-content: space-around;
    }
    .productDet-Special-Image img{
        width: 49vw;
        min-height: 93vh;
        height: auto;
        max-height: 100vh;
        height: auto;
    }
    .even-container{
        max-height: 100vh;
        padding-top: 1vh;
        margin: 4vh 0 15vh 0;     
    }
    .even-sub{
        /* border: 3px rgb(0, 255, 8) solid; */
        width: 48%; 
    }
    .prod-description{     
       padding: 0 1vw;
       line-height: 1.8rem;
    }
    .prod-information{
        
        padding: 0 1vw;
       line-height: 1.7rem;
    }
    .even-container h3{
        font-size: 16px;
    }
    .even-container p{
       /*  color: blueviolet; */
        font-size: 14px;
    }
    .prod-information h4{
        font-size: 15px;
    }
}
@media screen and (max-width:770px) and (min-width:480px) {
}

@media screen and (max-width:480px) {

}