.singleContainer{
    /* background-color: rgba(119, 208, 208, 0.467); */
    margin-top: 19vh;
    width: 96vw ;
    margin-left: 2vw;
    margin-bottom: 15vh;
}
.productDisplay {
    justify-content: space-around;
}

.flex-r-wrap{
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

@media screen and (max-width:1025px) and (min-width:480px){
    .singleContainer{
        /* background-color: rgba(119, 208, 143, 0.467); */
        margin: 15vh 2vw 15vh 2vw;
        max-width: 1020px ;
        width: 96vw;
        min-width: 300px ;
    }
    .productDisplay {
        /* border: rgb(78, 246, 78) 1px solid; */
        justify-content: space-around;
    }
  }
  /* @media screen and (max-width:770px) and (min-width:480px) {
    }
  } */
/*   @media screen and (max-width:480px) {

  } */



