* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
	width: 100vw;
	font-family: "Poppins", sans-serif;
}

.flex-r {
	display: flex;
	flex-direction: row;
}
.flex-r--wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-c {
	display: flex;
	flex-direction: column;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	display: inline-block;
}
/* 
a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}



h1 {
  line-height: 2.2rem;
  font-size: 27px;
  letter-spacing: 1px;
  font-weight: 500;
}

p {
  font-size: 14px;
} */

/***********************Originally in Collection.css*************************/
/*******************************   Signup  ********************************/
:root {
	--filt_top: 0px;
}

.main-doublegrid {
	overflow-x: hidden;
	display: grid;
	position: relative;
	min-width: 100vw;
	min-height: 80vh; /*recent*/
	margin-top: 18vh;
	grid-template-rows: 100%;
	/*  border: black 2px double; */
}

.main-doublegrid--prod {
	grid-template-columns: 65% 35%;
	grid-template-areas: "scrollcontent fixedbar";
	margin-top: 0;
	border: green 2px double;
}

.main-doublegrid--account {
	/* border: blue 2px double; */
	margin-bottom: 10vh;
	grid-template-columns: 30% minmax(60vw, 70%);
	grid-template-areas: "fixedbar scrollcontent";
}

/*h4 {
  margin-block-end: 2px;
  margin-block-start: 2px;
} */

.main-doublegrid ul {
	padding-inline-start: 0;
}

/*----------------------------------------Content section*/
.content {
	grid-area: scrollcontent;
	/* border: yellow 1px solid; */
}

.content--collection {
	border: red 1px solid;
	margin-left: 2vw;
}

.content--account {
	justify-content: space-between;
	/* background-color: aquamarine; */
}
.signup-form {
	height: 70vh;
	margin-top: 5vh;
	justify-content: flex-start;
	/* background-color: blueviolet; */
}
.form-item {
	height: 10%;
	/*  background-color:aquamarine; */
	width: 35%;
	margin-bottom: 10px;
	margin-right: 4vw;
}
.form-item > label {
	padding: 10px;
}
.form-item input {
	/*   background-color: black; */
	padding: 10px;
	border-radius: 5px;
	border: 1px gray solid;
}
