* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
	width: 100vw;
	font-family: "Poppins", sans-serif;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	display: inline-block;
}
